<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tick.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <application
        android:name=".GlobalValue.MyData"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BHkCqVGq0pjuAGj9dZX38TXcggZ67wee"></meta-data>
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".User.View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.View.Imp.RegisterView" />
        <activity android:name=".User.View.Imp.ForgetPwActivity" />
        <activity android:name=".User.View.Imp.ModifyPwView"></activity>
        <activity android:name=".User.View.Imp.CompleteInfoActivity"></activity>
        <activity android:name=".Propery.PayMent.PaymentActivity" />
        <activity android:name=".Propery.Record.RecordActivity" />
        <activity android:name=".Propery.View.Imple.SuggestActivity" />
        <activity android:name=".Topic.View.AddTopic"></activity>
        <activity android:name=".Mine.View.Impl.ChangePasswordActivity" />
        <activity android:name=".Mine.View.Impl.MySuggestView"></activity>
        <activity android:name=".Mine.View.Impl.MyRepairView"></activity>
        <activity android:name=".Home.View.Imple.AroundActivity"></activity>
        <activity android:name=".Home.View.Imple.RepairActivity"></activity>
        <activity android:name=".Home.View.Imple.AboutUs"></activity>
        <activity android:name=".Home.View.Imple.Introduction"></activity>

    </application>

</manifest>